/*body{margin:0px;padding:0px;font-family:"Trebuchet MS";background:#ffffff;font-size:13px !important;
     
  margin:10px;   padding:10px 0;border:1px solid #b2b2b2;border-radius:8px;-webkit-border-radius:8px;-moz-box-shadow: 0 0 3px 3px #b2b2b2;-webkit-box-shadow: 0 0 3px 3px#b2b2b2;box-shadow: 0 0 3px 3px #b2b2b2;
width:713px; min-height:595px;}*/
body{margin:0px;padding:0px;font-family:"Trebuchet MS";background:#ffffff;font-size:13px !important;
     
  margin:10px;   padding:10px 0;border:1px solid #b2b2b2;border-radius:8px;-webkit-border-radius:8px;-moz-box-shadow: 0 0 3px 3px #b2b2b2;-webkit-box-shadow: 0 0 3px 3px#b2b2b2;box-shadow: 0 0 3px 3px #b2b2b2;
width:98%; min-height:595px;}


*{margin:0px;padding:0px;outline:none;}
img{border:0px none;}
.main{width:100%;}
.container{width:100%;overflow:hidden;}
.header{width:100%;float:left;}
.headleft{width:48%;float:left;text-align:left;padding-left:2%;}
.headleft a{text-decoration:none;}
.headright{width:47.5%;float:left;text-align:right;padding-right:2%;}
.headright a{text-decoration:none;}
.contentmain{width:96%;float:left;padding:10px 2%;background: url(../images/innerbg.png) no-repeat top right;}

.headingtext{width:99%;float:left;font-size:26px;font-weight:bold;color:#4f5559;padding-left:1%;}
.navigation{width:100%;float:left;border-bottom:2px solid #eb6909;}
.navigation ul{float:right;list-style:none;-webkit-border-radius: 8px 8px 0 0 ;border-radius: 8px 8px 0 0 ;height:40px;background:#eb6909;}
.navigation ul li{width:120px;float:left;padding:0px; height:40px; line-height:40px; border-radius: 8px 0 0 0;-webkit-border-radius: 8px 0 0 0;font-weight:bold;text-align:center;cursor:pointer;} 
.navigation ul li a{color:#fff;text-decoration:none;width:100%;float:left; font-size:14px;}
.sel{background:url(../images/selarrow.png) no-repeat center 41px;height:32px!important;}
.desel{background: #b8bdc7; /* Old browsers */
background: -moz-linear-gradient(top, #b8bdc7 0%, #afb4bf 20%, #afb4bf 50%, #b8bec8 73%, #cad0dc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8bdc7), color-stop(20%,#afb4bf), color-stop(50%,#afb4bf), color-stop(73%,#b8bec8), color-stop(100%,#cad0dc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b8bdc7 0%,#afb4bf 20%,#afb4bf 50%,#b8bec8 73%,#cad0dc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b8bdc7 0%,#afb4bf 20%,#afb4bf 50%,#b8bec8 73%,#cad0dc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b8bdc7 0%,#afb4bf 20%,#afb4bf 50%,#b8bec8 73%,#cad0dc 100%); /* IE10+ */
background: linear-gradient(to bottom, #b8bdc7 0%,#afb4bf 20%,#afb4bf 50%,#b8bec8 73%,#cad0dc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8bdc7', endColorstr='#cad0dc',GradientType=0 ); /* IE6-9 */}
.bottomtable{background:#92057e /*url(../images/bg.png) no-repeat top center*/;float:left;width:100%;-webkit-border-radius: 8px;border-radius: 8px; margin-top:15px}
.bottomtable table{width:98%;margin: 0 0 0 2%;color:#fff;font-size:18px;}
.bottomtable table tr{width:100%;background:url(../images/bdr.png) no-repeat bottom;height:36px;}
.bottomtable table tr td input{ background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #D6D6D6;border-radius: 5px 5px 5px 5px;color: #959EA1;font-size: 18px; height: 20px;padding: 2px;text-align: center;width: 96px;}
.bdrnone{background:0 none!important;}
.middlecontent{background: none repeat scroll 0 0 #F2F2F2;border-radius: 8px 8px 8px 8px;float: left;margin-top:10px;padding: 0 1% 10px;width: 98%;}
.middlecontenthead{width:100%;float:left;border-bottom:1px solid #eaeaea;}
.middlecontenthead h1{color:#eb6909;width:auto;float:left;font-size:21px;font-weight:bold;line-height:35px;}

.reset{width:90px;float:right;text-align:right;padding:5px 5px 0 0;}
.reset a{text-decoration:none;}

.middleextravalue{width:100%;float:left;color:#959ea1;font-size:16px;margin-top:3px;}
.middleextravalueleft{width:40%;float:left;}
.yield{width:80%;float:left;}

.auto{}
.middleextravalueright{width:60%;float:left;}
.hydhead{width:100%;float:left;background:#92057e;border-radius:8px 8px 0 0;-webkit-border-radius:8px 8px 0 0;}
.hydhead ul{width:100%;float:left;list-style:none;}
.hydhead ul li{width:32%;float:left;border-right:1px solid #87978e;text-align:center;color:#fff;height:32px;font-weight:bold;}
.style2 {color: #fff; font-weight: bold; }
.style4 {color: #fff; font-weight: bold; font-size: 12px;padding-right:3%; text-align: center; }
.blr8{border-top-right-radius:8px;-webkit-border-top-right-radius:8px;}
.btlr8{border-top-left-radius: 8px;-webkit-border-top-left-radius: 8px;}

table tr td input {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #d6d6d6;border-radius: 5px 5px 5px 5px;color: #959EA1;font-size: 13px;height: 20px; width: 50px; text-align: center;padding:2px;line-height:20px;} //width: 60px;
.wid13{padding: 0 0 0 20px;width: 30%;}
.wid7{width:9%;padding:0 1%;}
.wid27{width:20%;padding-left:1%;}
.wid28{width:20.5%;}
.padl20{padding-left:20px;width:31%;}
.br{border-right: 1px solid #CCCCCC;width:20.5%;padding-left:1%;}

.dn{display:none;}
.dropdown{width:100%;float:left;text-align:center; padding:5px 0px 0px 0px}
.dropdown p{text-align: left; font-size: 16px;color:#1E272A}
.formfield{width:100%;float:left;padding-top:30px;}
.formfield select{ background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #D6D6D6;border-radius: 5px 5px 5px 5px;color: #959EA1;font-size: 13px; font-weight:bold;padding:5px;text-align:left;width:25%;}
.back{background:#EB6909;width:82px;height:35px;color:#FFFFFF;font-weight:bold;float:right;border-radius:8px;-webkit-border-radius:8px;text-align:center;line-height:35px;margin-top:5px;}
.back a{color:#fff;text-decoration:none;width:100%;float:left;}

.carprice{ float:right; width:auto; padding:5px; font-size:15px; font-weight:bold; border:1px solid #999; -webkit-border-radius: 8px;border-radius: 8px; background:#fff; margin:10px 0px 0px 0px}
.arrow{background:url(../images/arrow.png) no-repeat right top; float:left; width:43%; height:11px; position:absolute; right:73%; }
.boiledeggimg{background:url(../images/mexicanboiledeggs-edited.jpg) no-repeat; min-height:250px; background-size:100% 250px; margin-top:5px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;}
.broilerimg{background:url(../images/pigmented-chickens.jpg) no-repeat;  min-height:250px; background-size:100% 250px; margin-top:5px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;}
.carmain{ float:right; width:49%;margin:.5% 2% 0% 0%; position:relative;}

.img{ float:left; width:100%; text-align:center; margin:10px 0px;}
.img img{-webkit-border-radius: 8px;    
    border-radius: 8px; border:3px solid #999; height:220px;}

.red{ 
	height: 28px;
	background: #ff2121;
	color: #fff;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	width: 60%;
	margin: 0px auto;
	line-height: 28px;
}
.yellow{
	height:28px; 
	background:#eadd0a; 
	color:#fff;
	-webkit-border-radius: 6px;    
   border-radius: 6px; 
	 width:70%;
	 margin:0px auto; 
	 line-height:28px;
}
.darkash{
		height:28px; 
		background:#808080; 
		color:#fff;
		-webkit-border-radius: 6px;    
    border-radius: 6px; 
		width:70%; 
		margin:0px auto; 
		line-height:28px;
	}
.padleft{text-align: left;}
.padleftdata{ padding-left: 20%;} 
.padrightdata{padding-right:8%;}